<div id="contact" class="container mx-auto my-10 p-5 md:my-16">
  <p class="text-center text-4xl lowercase tracking-wide lg:text-5xl">
    {{ section.settings.heading | escape }}
  </p>
  <p class="my-5 mx-auto max-w-[450] text-center text-sm md:text-base">
    {{ section.settings.description | escape }}
  </p>
  <div class="mt-5 md:my-12 md:flex md:space-x-12 lg:justify-between">
      <div class="md:basis-2/3 xl:basis-1/2">
          <p class="mb-3 text-sm font-medium uppercase tracking-wider md:text-base">
            {{ section.settings.form_label | escape }}
          </p>
          {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
            {%- if form.posted_successfully? -%}
              <h2>Success</h2>
            {%- elsif form.errors -%}
              <h2>Error</h2>
            {%- endif -%}
          <form>
              <div class="border border-c2 divide-c2 divide-y flex flex-wrap">
                  <fieldset class="basis-full p-5">
                    <input
                      type="text" 
                      id="{{ form.id }}-name"
                      name="contact[name]"
                      autocomplete="name"
                      spellcheck="false" 
                      value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" 
                      placeholder="{{ section.settings.form_name_label }}"
                      title="{{ section.settings.form_name_label }}"
                      class="w-full border-c2 bg-transparent placeholder-c2 outline-none"
                      required="required"
                    >
                  </fieldset>
                  <fieldset class="basis-full md:basis-1/2 md:border-r p-5">
                    <input
                      type="email"
                      id="{{ form.id }}-email"
                      name="contact[email]"
                      autocomplete="email"
                      spellcheck="false"
                      autocapitalize="off"
                      value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                      placeholder="{{ section.settings.form_email_label }}"
                      title="{{ section.settings.form_email_label }}"
                      class="w-full border-c2 bg-transparent placeholder-c2 outline-none"
                      required="required"
                    >
                  </fieldset>
                  <fieldset class="basis-full md:basis-1/2 p-5">
                    <input 
                      type="text"
                      id="{{ form.id }}-request-subject"
                      name="contact[request_subject]"
                      value="{{ form.request_subject }}"
                      placeholder="{{ section.settings.form_subject_label }}"
                      title="{{ section.settings.form_subject_label }}"
                      class="w-full border-c2 bg-transparent placeholder-c2 outline-none"
                      required="required"
                    >
                  </fieldset>
                  <fieldset class="basis-full p-5">
                    <textarea
                      id="{{ form.id }}-body"
                      class="w-full border-c2 bg-transparent placeholder-c2 outline-none"
                      name="contact[body]"
                      title="{{ section.settings.form_body_label }}"
                      placeholder="{{ section.settings.form_body_label }}"
                      required="required"
                    >
                      {{- form.body -}}
                    </textarea>
                  </fieldset>
              </div>
              <button type="submit" class="mt-5 ml-auto mr-0 block w-[168] bg-c3 bg-c3 p-3 font-medium uppercase tracking-widest hover:bg-c4 md:w-1/2">
                {{ section.settings.form_button_title | escape }}
              </button>
          </form>
        {%- endform -%}
      </div>
      <div class="mt-10 flex space-x-5 text-sm md:mt-0 md:block md:basis-1/3 md:flex-wrap md:space-x-0 md:text-base">
          <div class="basis-3/5 md:basis-full">
              <p class="mb-2 font-medium uppercase tracking-wider">
                {{ section.settings.address_label_1 | escape }}
              </p>
              <p>
                {{ section.settings.address_value_1 | escape }}
              </p>
              <div class="mt-2 flex items-center lg:items-end">
                  <div>
                    <img src="{{ 'tw_location_icon.2c5e452b.png' | asset_url }}" width="57" height="75" class="mr-3 w-[11] md:w-[22]">
                  </div>
                  <p class="italic">{{ section.settings.address_location | escape }}</p>
              </div>
          </div>
          <div class="basis-2/5 md:basis-full">
              <p class="mb-2 font-medium uppercase tracking-wider md:mt-3">
                {{ section.settings.address_label_2 | escape }}
              </p>
              <p>
                {{ section.settings.address_value_2 | escape }}
              </p>
              <p class="mt-3 mb-2 font-medium uppercase tracking-wider">
                {{ section.settings.address_label_3 | escape }}
              </p>
              <p>
                {{ section.settings.address_value_3 | escape }}
              </p>
          </div>
      </div>
  </div>
</div>

{% schema %}
{
  "name":"TW Contact Form",
  "tag":"section",
  "settings": [
    {
      "id":"heading",
      "type":"text",
      "label":"Heading",
      "default":"Contact Us"
    },
    {
      "id":"description",
      "type":"text",
      "label":"Description",
      "default":"We are here to help and answer any questions you might have. We look forward to hearing from you!"
    },
    {
      "id":"form_label",
      "type":"text",
      "label":"Form Label",
      "default":"Drop Us a line!"
    },

    {
      "id":"form_name_label",
      "type":"text",
      "label":"Form Name Label",
      "default":"Your name"
    },
    {
      "id":"form_email_label",
      "type":"text",
      "label":"Form Email Label",
      "default":"Your email"
    },
    {
      "id":"form_subject_label",
      "type":"text",
      "label":"Form Subject Label",
      "default":"Subject"
    },
    {
      "id":"form_body_label",
      "type":"text",
      "label":"Form Body Label",
      "default":"Enter text here"
    },
    {
      "id":"form_button_title",
      "type":"text",
      "label":"Form Button Title",
      "default":"Send"
    },
    {
      "id":"address_label_1",
      "type":"text",
      "label":"Address Label 1",
      "default":"Address"
    },
    {
      "id":"address_value_1",
      "type":"text",
      "label":"Address Value 1",
      "default":"#1140 - 551 Sherling Pl. Port Coquitlam, BC V3B 0J6"
    },
    {
      "id":"address_location",
      "type":"text",
      "label":"Address Location",
      "default":"Pick up is available from this location"
    },
    {
      "id":"address_label_2",
      "type":"text",
      "label":"Address Label 2",
      "default":"Phone"
    },
    {
      "id":"address_value_2",
      "type":"text",
      "label":"Address Value 2",
      "default":"+1 778-917-5218"
    },
    {
      "id":"address_label_3",
      "type":"text",
      "label":"Address Label 3",
      "default":"Email"
    },
    {
      "id":"address_value_3",
      "type":"text",
      "label":"Address Value 3",
      "default":"info@taiwanway.ca"
    }
  ],
  "presets": [
    {
      "name": "tw-contact-form",
      "category": "Custom"
    }
  ]
}
{% endschema %}