<div class="container mx-auto flex items-start justify-between md:mt-10 md:items-center md:justify-end" id="navigation">
  <div class="cursor-pointer md:hidden p-5 w-24" onclick="taiwanway.menuDisplay(true)"> 
    <img src="{{ 'tw_humburger.ea577da8.svg' | asset_url }}" alt="menu" width="22" height="17">
  </div>
  <div class="md:hidden p-2.5">
    <img src="{{ 'tw_logo-horizontal.639b07b3.png' | asset_url }}" alt="taiwanway" class="w-[118px]" width="236" height="112">
  </div>
  <div class="absolute top-0 left-0 flex hidden w-full flex-col bg-c3 px-5 py-10 tracking-wider opacity-0 transition-opacity md:relative md:mx-2.5 md:block md:w-auto md:bg-inherit md:p-0 md:opacity-100" id="menu">
    <img src="{{ 'tw_close_icon.36162d4e.svg' | asset_url }}" width="20" height="17" class="absolute cursor-pointer md:hidden right-5 top-5" onclick="taiwanway.menuDisplay(false)" alt="close icon">
    {%- if section.settings.menu != blank -%}
      {%- for link in section.settings.menu.links -%}
        {%- if link.url contains '#' -%}
          {%- assign anchor = link.url | replace: "#", "" -%}
          <a href="{{ link.url }}" class="mx-2.5 py-2 hover:text-c5 md:py-0 md:hover:text-c4" onclick="taiwanway.scrollToElement('{{ anchor }}');taiwanway.menuDisplay(false)">
            {{ link.title | escape }}
          </a>
        {%- endif -%}
      {%- endfor -%}
      {%- if shop.published_locales.size > 0 -%}
        <span class="mx-1.5 divide-x divide-solid divide-c2 py-2 capitalize md:py-0">
          {%- for locale in shop.published_locales -%}
            {%- liquid
              assign code = locale.iso_code | split: "-" | first
              if code == "zh"
                assign code = "ch"
              endif
            -%}
            {%- if request.locale.root_url == locale.root_url -%}
              <span class="inline-block leading-4 px-1 text-c1">{{ code | escape }}</span>
            {%- else -%}
              <a href="{{ locale.root_url }}" class="inline-block px-1 leading-4 hover:text-c5 md:hover:text-c4" title="{{ locale.name }}">
                {{ code | escape }}
              </a>
            {%- endif -%}  
          {%- endfor -%}
        </span>
      {%- endif -%}
    {%- endif -%}
  </div>
  <div class="flex justify-end md:py-0 md:w-auto p-5 w-24">
    {%- if cart.item_count > 0 -%}
     <div class="align-middle bg-c1 flex h-4 justify-center leading-4 mr-1 mt-1 rounded-2xl text-sm text-white w-4"> {{ cart.item_count }} </div>
    {%- endif -%}
    <a href="/cart">
    <img src="{{ 'tw_shopping_bag_icon.c78efca1.png' | asset_url }}" alt="basket" width="21" height="22">
    </a>
  </div>
</div>

{% schema %}
{
  "name": "TW Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Header Menu Links"
    }
  ],
  "presets": [
    {
      "name": "tw-header",
      "category": "Custom"
    }
  ]
}
{% endschema %}