<div class="container mx-auto my-10 px-5 md:my-16 md:flex md:flex-wrap">
  <div class="flex flex-col justify-between bg-c3 p-5 md:basis-1/2 lg:p-12">
    <div>
      {%- if section.settings.rtb_1_heading != blank -%}
      <p class="text-sm uppercase tracking-widest lg:text-base">
        {{ section.settings.rtb_1_heading | escape }}
      </p>
      {%- endif -%}
      {%- if section.settings.rtb_1_label != blank -%}
      <p class="my-2 text-lg text-3xl lowercase tracking-wide md:text-4xl lg:my-5 xl:text-5xl">
        {{ section.settings.rtb_1_label | escape }}
      </p>
      {%- endif -%}
      {%- if section.settings.rtb_1_text != blank -%}
      <p class="text-sm md:text-base lg:text-lg">
        {{ section.settings.rtb_1_text | escape }}
      </p>
      {%- endif -%}
    </div>
    <img src="{{ 'tw_food_icons.3a6315aa.png' | asset_url }}" width="578" height="184" class="mr-5 ml-auto mt-5 w-2/3 max-w-[300]">
  </div>
  <div class="flex flex-col justify-between border border-c2 p-5 md:basis-1/2 lg:p-12">
    <div>
      {%- if section.settings.rtb_2_heading != blank -%}
      <p class="text-sm uppercase tracking-widest lg:text-base">
        {{ section.settings.rtb_2_heading | escape }}
      </p>
      {%- endif -%}
      {%- if section.settings.rtb_2_label != blank -%}
      <p class="lg:mb-5 lowercase mb-2 md:text-4xl text-3xl text-lg tracking-wide xl:text-5xl">
        {{ section.settings.rtb_2_label | escape }}
      </p>
      {%- endif -%}
      {%- if section.settings.rtb_2_text != blank -%}
      <p class="text-sm md:text-base lg:text-lg">
        {{ section.settings.rtb_2_text | escape }}
      </p>
      {%- endif -%}
    </div>
    <img src="{{ 'tw_tools.57fbfcd0.png' | asset_url }}" width="942" height="339" class="mr-5 ml-auto mt-5 w-2/3 max-w-[300]">
  </div>
  <div class="mt-5 p-5 text-center md:basis-1/2 lg:p-12 xl:basis-1/4 xl:p-5">
    {%- if section.settings.rtb_3_heading != blank -%}
    <p class="text-5xl font-medium tracking-wider">
      {{ section.settings.rtb_3_heading | escape }}
    </p>
    {%- endif -%}
    {%- if section.settings.rtb_3_label != blank -%}
    <p class="font-medium uppercase leading-8 tracking-widest">
      {{ section.settings.rtb_3_label | escape }}
    </p>
    {%- endif -%}
    {%- if section.settings.rtb_3_text != blank -%}
    <p class="text-sm md:mt-3 md:text-base">
      {{ section.settings.rtb_3_text | escape }}
    </p>
    {%- endif -%}
  </div>
  <div class="p-5 text-center md:mt-5 md:basis-1/2 lg:p-12 xl:basis-1/4 xl:p-5">
    {%- if section.settings.rtb_4_heading != blank -%}
    <p class="text-5xl font-medium tracking-wider">
      {{ section.settings.rtb_4_heading | escape }}
    </p>
    {%- endif -%}
    {%- if section.settings.rtb_4_label != blank -%}
    <p class="font-medium uppercase leading-8 tracking-widest">
      {{ section.settings.rtb_4_label | escape }}
    </p>
    {%- endif -%}
    {%- if section.settings.rtb_4_text != blank -%}
    <p class="text-sm md:mt-3 md:text-base">
      {{ section.settings.rtb_4_text | escape }}
    </p>
    {%- endif -%}
  </div>
  <div class="p-5 text-center md:basis-1/2 lg:p-12 xl:mt-5 xl:basis-1/4 xl:p-5">
    {%- if section.settings.rtb_5_heading != blank -%}
    <p class="text-5xl font-medium tracking-wider">
      {{ section.settings.rtb_5_heading | escape }}
    </p>
    {%- endif -%}
    {%- if section.settings.rtb_5_label != blank -%}
    <p class="font-medium uppercase leading-8 tracking-widest">
      {{ section.settings.rtb_5_label | escape }}
    </p>
    {%- endif -%}
    {%- if section.settings.rtb_5_text != blank -%}
    <p class="text-sm md:mt-3 md:text-base">
      {{ section.settings.rtb_5_text | escape }}
    </p>
    {%- endif -%}
  </div>
  <div class="p-5 text-center md:basis-1/2 lg:p-12 xl:mt-5 xl:basis-1/4 xl:p-5">
    {%- if section.settings.rtb_6_heading != blank -%}
    <p class="text-5xl font-medium tracking-wider">
      {{ section.settings.rtb_6_heading | escape }}
    </p>
    {%- endif -%}
    {%- if section.settings.rtb_6_label != blank -%}
    <p class="font-medium uppercase leading-8 tracking-widest">
      {{ section.settings.rtb_6_label | escape }}
    </p>
    {%- endif -%}
    {%- if section.settings.rtb_6_text != blank -%}
    <p class="text-sm md:mt-3 md:text-base">
      {{ section.settings.rtb_6_text | escape }}
    </p>
    {%- endif -%}
  </div>
</div>
{% schema %}
{
  "name":"TW Reasons To Believe",
  "tag":"section",
  "settings": [
    {
      "id":"rtb_1_heading",
      "type":"text",
      "label":"RTB 1 Heading",
      "default":"Mom’s great helpers"
    },
    {
      "id":"rtb_1_label",
      "type":"text",
      "label":"RTB 1 Label",
      "default":"Loved by whole Family"
    },
    {
      "id":"rtb_1_text",
      "type":"textarea",
      "label":"RTB 1 Text",
      "default":"Easy to cook…. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    },
    {
      "id":"rtb_2_heading",
      "type":"text",
      "label":"RTB 2 Heading"
    },
    {
      "id":"rtb_2_label",
      "type":"text",
      "label":"RTB 2 Label",
      "default":"Hight Manufacture Standards"
    },
    {
      "id":"rtb_2_text",
      "type":"textarea",
      "label":"RTB 2 Text",
      "default":"Our sausages are made in a very clean and professional state-of-the-art facility, entire processing facility temperature is keep at 10 degree C or below at all time, so the produce stays fresh"
    },

    {
      "id":"rtb_3_heading",
      "type":"text",
      "label":"RTB 3 Heading",
      "default":"80%+"
    },
    {
      "id":"rtb_3_label",
      "type":"text",
      "label":"RTB 3 Label",
      "default":"MEAT GARANTY"
    },
    {
      "id":"rtb_3_text",
      "type":"textarea",
      "label":"RTB 3 Text",
      "default":"Pure meat, no trim or starch added, we use Picnic (considered as more expensive pork part)"
    },
    {
      "id":"rtb_4_heading",
      "type":"text",
      "label":"RTB 4 Heading",
      "default":"70%"
    },
    {
      "id":"rtb_4_label",
      "type":"text",
      "label":"RTB 4 Label",
      "default":"RESTAURANTS"
    },
    {
      "id":"rtb_4_text",
      "type":"textarea",
      "label":"RTB 4 Text",
      "default":"Our sausage has been approved and used by over 70% of Taiwanese restaurants in Vancouver"
    },
    {
      "id":"rtb_5_heading",
      "type":"text",
      "label":"RTB 5 Heading",
      "default":"10"
    },
    {
      "id":"rtb_5_label",
      "type":"text",
      "label":"RTB 5 Label",
      "default":"YEARS"
    },
    {
      "id":"rtb_5_text",
      "type":"textarea",
      "label":"RTB 5 Text",
      "default":"Serving Greater Vancouver area for more then 10 years with proven quality and authentic taste produce"
    },
    {
      "id":"rtb_6_heading",
      "type":"text",
      "label":"RTB 6 Heading",
      "default":"0"
    },
    {
      "id":"rtb_6_label",
      "type":"text",
      "label":"RTB 6 Label",
      "default":"PRESERVATIVES"
    },
    {
      "id":"rtb_6_text",
      "type":"textarea",
      "label":"RTB 6 Text",
      "default":"Since our sausage required to be frozen, we take out preservatives like Potassium Sorbate to make it healthier"
    }
  ],
  "presets": [
    {
      "name": "tw-rtb",
      "category": "Custom"
    }
  ]
}
{% endschema %}